<ion-view view-title="Form1 "   >
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          "  ui-sref="app.home"  >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}"   >

<md-content >








  </md-content>


<style type="text/css">


</style>
    </ion-content>
</ion-view>
