<ion-view view-title="Home">
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          " 
          ui-sref="app.home" >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}"   class="_Home">





<md-card id="shape_btn"
     ui-sref="app.skintype"
     
    >
  <div id=""></div>
  <div id="">
    <p id="next">NEXT<img src="img/icn-arrow.png " class="setahome" > </p> 
  </div>
<div class="footer" >
p
</div>
</md-card>

<style type="text/css">
.fontinput{
  
  font-size: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  
}
.input_email {
        position: fixed;
    top: 744px;
    left: 72px;
    z-index: 1;
  width: 624px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
 
  
}
.input_gender {
        position: fixed;
    top: 624.1px;
    left: 408px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_date {
        position: fixed;
    top: 624.1px;
    left: 72px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_occupation {
        position: fixed;
    top: 504px;
    left: 408px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_city {
        position: fixed;
    top: 504px;
    left: 72px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_state {
        position: fixed;
    top: 384px;
    left: 408px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_country {
        position: fixed;
    top: 384px;
    left: 72px;
    z-index: 1;
  width: 288px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
  
}
.input_client {
      position: fixed;
    top: 264px;
    left: 72px;
    z-index: 1;
  width: 624px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #000000;
 /* border: solid 1px var(--black); */
}
  ion-header-bar{
   
    height: 100px !important;

  }
  .footer{
  position: absolute;
      top: 1300px;
  height: 24px;
  color: white;
  z-index: -1;
}
  #shape_btn{
        position: fixed;
        top: 1052px;
        left: 240px;
  width: 312px;
  height: 97px;
  background-color: #f6f6f6;
  border: solid 1.5px #000000;
 /* border: solid 1.5px var(--black)*/
     /*  border: solid 4px #fc2561; */
  }
  #next {

        margin-top: 33px;
        margin-left: -84px;
 /* width: 147px;*/
  height: 24px;
 
     font-size: 39px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: center;
  color: #fc2561;
}
  .setahome{  
    position: fixed;
      top: 1095px;
      left: 440px;
      width: 51px;
      height: 10px;
    }
</style>
<!--

        <div>
            <ul>
                <li>
                    <md-card    class="card  cardboxblackslim box_shape  ">
                     <h2 class="START-NOW"  >START NOW</h2>
                     
                     <img   src="img/icn-arrow.png"
                            class="icn_arrow"
                             style="
                            box-shadow: none;
                        ">
                    
                    </md-card>
                </li>
            </ul>
        </div>
-->
    </ion-content>
</ion-view>

<!--ui-sref="app.formStart1" -->
