<ion-view view-title="SkinType">
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          " 
          ui-sref="app.formStart1" >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero " style="background-image: url('img/fotoheader2.png');">

        </div>
        
<style type="text/css">
  ion-header-bar{
   
    height: 100px !important;

  }

   #cinza{
    position: absolute;;
    left: 48px;
    top: 168px;
    width: 264px;
    height: 96px;
    z-index: 1;

    background-color: #f6f6f6;
   
   }

      #pink{
    position: absolute;;
        left: 215px;
    top: 168px;
    width: 101px;
    height: 100px;
    z-index: 1;
      background-color: #fc2561;
      border: solid 4px #fc2561;
   
   }
   div.margem {
    background: #900;
    color: #FFF;
}
.img_skin_normal {
      position: relative;
    left: 78px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;

}
#shape_gray {
    position: absolute;;
    /*left: 215px;*/
    top: 330px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
#shape_gray2 {
    position: absolute;;
    /*left: 215px;*/
    top: 722px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
.hero{
  height: 240px;

    margin-top: 50px;
   
    border: solid 4px #000000;
}
.img_banner_Skin {
  width: 768px;
  height: 240px;
  object-fit: contain;
}
.skin-type {
 /* width: 159px;*/
    margin-top: 32px;
    margin-left: 26px;
  height: 28px;
  font-family: NeueHelveticaBQ;
  font-size: 39px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#shape_black {
  position: absolute;
    /*left: 215px;*/
    top: 660px;
    z-index: 1;
  width: 672px;
  height: 167.5px;
  background-color: #000000;
  background-color: var(--black);
}
   #black{
    position: absolute;
    left: 48px;
    top: 522px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
      #black2{
    position: absolute;
    left: 48px;
    top: 912px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
   #Normal {
 /* width: 109.5px; */
     margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_skin_dry {
        position: relative;
        left: 150px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
#dry {
    position: relative;
    left: 68px;
    top: -50px;
  
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  color: var(--black);
}
      #traco1{
    position: absolute;
    left: 75px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco2{
    position: absolute;
    left: 420px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
   #linha{
        position: absolute;
    left: 380px;
    top: 330px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha2{
        position: absolute;
    left: 380px;
    top: 722px;
    width: 2px;
    height: 358px;
    z-index: 1;
      background-color: #999999;
   }
      #boxpink1{
    position: absolute;
    left: 48px;
    top: 522px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink2{
    position: absolute;
    left: 380px;
    top: 522px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink3{
    position: absolute;
    left: 48px;
    top: 912px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink4{
    position: absolute;
    left: 380px;
    top: 912px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
</style>

<md-card>
  <div id="pink"></div>
  <div id="cinza">
    <p class="skin-type">SKIN TYPE</p> 
  </div>
</md-card>


<div class="">
    
  <div id="shape_gray" >
    <p id="Normal">NORMAL  </p>
    <p id="dry" > DRY </p>
  </div> 
  <div id="traco1" ng-show="normal" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco1"></div>

  <div id="traco2" ng-show="dry" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco2"></div>
  <div id="black" ></div>
  <div id="boxpink1" ng-show="normal"  ></div>
  <div id="boxpink2" ng-show="dry"  ></div>

<div class="tile img_skin_normal" > 
    <img ng-src='img/img-skin-normal.png' 
    />
      <div class="text"   ng-click="clicktype('NORMAL')" >
               <p class="animate-text info  ">It is balanced in oiliness, has delicate texture and pores are less evident. </p>
      </div>
</div>  

<div class="tile img_skin_dry " > 
    <img ng-src='img/img-skin-dry.png' 
    />
      <div class="text"  ng-click="clicktype('DRY')" >
               <p class="animate-text info ">It hasn't brightness, is rough and the pores are almost invisible. </p>
      </div>
</div>
<div id="linha"></div>
</div>


<div class="">
    
  <div id="shape_gray2" >
    <p id="Oily">OILY  </p>
    <p id="Combination" > COMBINATION </p>
  </div> 
  <div id="traco3" ng-show="oil" style="background-color: #fc2561 ;z-index: 2;" ></div>
  <div id="traco3"></div>
  <div id="traco4" ng-show="combination" style="background-color: #fc2561 ;z-index: 2;" ></div>
  <div id="traco4"></div>
  <div id="black2" ></div>
  <div id="boxpink3" ng-show="oil"  ></div>
  <div id="boxpink4" ng-show="combination"  ></div>

  <div class="tile img_skin_oily" > 
    <img ng-src='img/img-skin-oily.png' 
    />
      <div class="text" ng-click="clicktype('OILY')" >
               <p class="animate-text info ">It has excess oil, shiny appearance and dilated pores. </p>
      </div>
  </div>

  <div class="tile img_skin_combination" > 
    <img ng-src='img/img-skin-combination.png' 
    />
      <div class="text" ng-click="clicktype('COMBINATION')" >
               <p class="animate-text info ">It has more intense oiliness on the forehead and nose. On the cheeks it is dry or normal. </p>
      </div>
  </div>

  <div id="linha2"></div>
</div>


      <style type="text/css">
.info{
  width: 207.5px;
  height: 66.5px;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #f6f6f6;
}
      .tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}
        .tile
{

  
  background-color:#444;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:50px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

      </style>  








<md-card id="shape_btn" ng-show="nexttype"  ui-sref="app.skincolor"   style="
                                                                      z-index: 2;
                                                                      background-color: #ffffff;
                                                                      border: solid 1.5px #000000;" >
  <div id=""></div>
  <div id="">
    <p id="Next" style="color:#fc2561"  >NEXT <img src="img/icn-arrow.png"  >  </p> 
  </div>
         
</md-card>

<md-card id="shape_btn"   ui-sref="app.skincolor"   >
  <div id=""></div>
  <div id="">
    <p id="Next">NEXT  <img src="img/icn-arrow-desable.png">  </p> 
  </div>
</md-card>

<br>
<br>
<br>
<br>
<br>
<div class="footer" >
 p
</div>
<style type="text/css">
.img_skin_oily {
        position: relative;
    left: 78px;
    top: 314px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_skin_combination {
          position: relative;
    left: 150px;
    top: 314px;
    z-index: 1;

  width: 264px;
  height: 240px;
  object-fit: contain;
}
.footer{
  position: absolute;
  top: 1300px;
  height: 24px;
}
#Combination {
     position: relative;
    left: 368px;
    top: -50px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#Oily {
    margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
      #traco3{
    position: absolute;
    left: 75px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco4{
    position: absolute;
    left: 420px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
    background-color: #000000;
      
   
   }
#shape_btn {
  position: absolute;
    left: 240px;
    top: 1117px;
    z-index: 1;
  width: 312px;
  height: 97px;
  background-color: #ffffff;
  border: solid 1.5px #999999;
}
  #Next {
       margin-top: 32px;
    margin-left: 65px;
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
}
</style>

    </ion-content>

</ion-view>
