<ion-view view-title="SkinType">
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          "  ui-sref="app.skinshape"  >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero " style="background-image: url('img/00_banner-eyes-type@3x.png');">

        </div>
        
<style type="text/css">
  ion-header-bar{
   
    height: 100px !important;

  }

   #cinza{
    position: absolute;;
    left: 48px;
    top: 168px;
    width: 264px;
    height: 96px;
    z-index: 1;

    background-color: #f6f6f6;
   
   }

      #pink{
    position: absolute;;
        left: 215px;
    top: 168px;
    width: 101px;
    height: 100px;
    z-index: 1;
      background-color: #fc2561;
      border: solid 4px #fc2561;
   
   }
   div.margem {
    background: #900;
    color: #FFF;
}
.img_skin_normal {
      position: relative;
    left: 78px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;

}
#shape_gray {
    position: absolute;;
    /*left: 215px;*/
    top: 330px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
#shape_gray2 {
    position: absolute;;
    /*left: 215px;*/
    top: 722px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
.hero{
  height: 240px;

    margin-top: 36px;
   
    border: solid 4px #000000;
    z-index: -1;
}
.img_banner_Skin {
  width: 768px;
  height: 240px;
  object-fit: contain;
}
.face-shape {
 /* width: 159px;*/
    margin-top: 32px;
    margin-left: 26px;
  height: 28px;
  
   font-size: 29px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#shape_black {
  position: absolute;
    /*left: 215px;*/
    top: 660px;
    z-index: 1;
  width: 672px;
  height: 167.5px;
  background-color: #000000;
  background-color: var(--black);
}
   #black{
    position: absolute;
    left: 48px;
    top: 522px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
      #black2{
    position: absolute;
    left: 48px;
    top: 912px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
   #Normal {
 /* width: 109.5px; */
     margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_skin_dry {
        position: relative;
        left: 150px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
#dry {
    position: relative;
    left: 100px;
    top: -37px;
  
  height: 23px;
 
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  color: var(--black);
}
      #traco1{
    position: absolute;
    left: 75px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco2{
    position: absolute;
    left: 420px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
   #linha{
        position: absolute;
    left: 380px;
    top: 330px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha2{
        position: absolute;
    left: 380px;
    top: 722px;
    width: 2px;
    height: 358px;
    z-index: 1;
      background-color: #999999;
   }
      #boxpink1{
    position: absolute;
    left: 48px;
    top: 522px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink2{
    position: absolute;
    left: 380px;
    top: 522px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink3{
    position: absolute;
    left: 48px;
    top: 912px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink4{
    position: absolute;
    left: 380px;
    top: 912px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink5{
    position: absolute;
    left: 48px;
    top: 1302px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink6{
    position: absolute;
    left: 380px;
    top: 1302px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink7{
    position: absolute;
    left: 48px;
    top: 1738px;

    z-index: 1;
      width: 334px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink8{
    position: absolute;
    left: 380px;
    top: 1738px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
</style>

<md-card>
  <div id="pink"></div>
  <div id="cinza">
    <p class="face-shape">EYES TYPE</p> 
  </div>
</md-card>


<div class="">
    
  <div id="shape_gray" >
    <p id="Normal"> UPTURNED  </p>
    <p id="dry" > HOODED </p>
  </div> 
  <div id="traco1"></div>
  <div id="traco1"  ng-show="upturned" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco2"></div>
  <div id="traco2" ng-show="hooded" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="black" ></div>
  <div id="boxpink1" ng-show="upturned"  ></div>
  <div id="boxpink2" ng-show="hooded"  ></div>

  
  <div class="tile img_skin_normal" > 
    <img ng-src="img/01_eye-upturned@3x.png" 
    />
      <div class="text" ng-click="clickeyes('UPTURNED')" >
               <p class="animate-text info ">The outer corner is slightly raised, resembling an almond. </p>
      </div>
  </div>


  <div class="tile img_skin_dry" > 
    <img ng-src="img/02-eyes-hooded@3x.png" 
    />
      <div class="text" ng-click="clickeyes('HOODED')" >
               <p class="animate-text info ">When open the moving eyelid does not appear. </p>
      </div>
  </div>

<div id="linha"></div>
</div>


<div class="">
    
  <div id="shape_gray2" >
    <p id="Oily">DOWNTURNED  </p>
    <p id="Combination" > WIDE SET </p>
  </div> 
  <div id="traco3"></div>
  <div id="traco3" ng-show="downturned" style="background-color: #fc2561 ;z-index: 2;"   ></div>
  <div id="traco4"></div>
  <div id="traco4" ng-show="wideset" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="black2" ></div>
  <div id="boxpink3" ng-show="downturned"  ></div>
  <div id="boxpink4" ng-show="wideset"  ></div>


  <div class="tile img_skin_oily" > 
    <img ng-src="img/03_eye-downturned@3x.png" 
    />
      <div class="text" ng-click="clickeyes('DOWNTURNED')" >
               <p class="animate-text info ">Has a soft drop on the outer corners. </p>
      </div>
  </div>

  <div class="tile img_skin_combination" > 
    <img ng-src="img/04_eyes-wide-set@3x.png" 
    />
      <div class="text" ng-click="clickeyes('WIDE SET')" >
               <p class="animate-text info ">The space between the eyes is bigger than the width of the eye itself. </p>
      </div>
  </div>

  <div id="linha2"></div>
</div>




 <style type="text/css">
  #shape_gray3 {
    position: fixed;
    left: 0px;
    top: 1548px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
  #shape_gray4 {
    position: fixed;
    left: 0;
    top: 1110px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
    #black3{
     position: fixed;
    left: 48px;
    top: 1302px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   }
         #black4{
     position: fixed;
    left: 48px;
    top: 1738px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
    #traco6{
    position: absolute;
    left: 75px;
    top: 1110px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
    #traco5{
    position: absolute;
    left: 420px;
    top: 1110px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
       #traco7{
    position: absolute;
    left: 75px;
    top: 1547px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
    #traco8{
    position: absolute;
    left: 420px;
    top: 1547px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
      #linha3{
        position: absolute;
    left: 380px;
    top: 1110px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha4{
        position: absolute;
    left: 380px;
    top: 1547px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
</style>


<div>
  <div id="shape_gray3"   ></div>
  <div id="black3"></div>

</div>


<div>
  <div id="shape_gray4"   ></div>
  <div id="traco5" ng-show="deepset" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco5"></div>
  <div id="traco6" ng-show="closeset" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco6"></div>
  <div id="boxpink5" ng-show="closeset"  ></div>
  <div id="boxpink6" ng-show="deepset "  ></div>
  <div id="black4"></div>
  <div id="traco7" ng-show="produting" style="background-color: #fc2561 ;z-index: 2;" ></div>
  <div id="traco7"></div>
  <div id="traco8" ng-show="monolid" style="background-color: #fc2561 ;z-index: 2;" ></div>
  <div id="traco8"></div>
  <div id="boxpink7" ng-show="produting"  ></div>
  <div id="boxpink8" ng-show="monolid"  ></div>
<p id="uppertext">CLOSE SET </p>

<div class="tile img_close" > 
    <img ng-src="img/05_eye-close-set@3x.png" 
    />
      <div class="text" ng-click="clickeyes('CLOSE SET')" >
               <p class="animate-text info ">The space between the eyes is smaller than the width of the eye itself. </p>
      </div>
</div>
<p id="lowertext"> DEEP SET</p>
<div class="tile img_deep" > 
    <img ng-src="img/06_eye-deep-set@3x.png" 
    />
      <div class="text" ng-click="clickeyes('DEEP SET')" >
               <p class="animate-text info ">They appear to be in the face creating the impression that the forehead bone is large. </p>
      </div>
</div>
<p id="protext">PROTUDING </p>
<div class="tile img_pro tile" > 
    <img ng-src="img/07_eyes-protuding@3x.png" 
    />
      <div class="text" ng-click="clickeyes('PROTUDING')" >
               <p class="animate-text info ">It has the appearance of projected eyelids and larger eyes. </p>
      </div>
</div>
<p id="monotext"> MONOLID </p>

<div class="tile img_mono" > 
    <img ng-src="img/08_eye-monolid@3x.png" 
    />
      <div class="text" ng-click="clickeyes('MONOLID')" >
               <p class="animate-text info ">Their surfaces are flat and do not have much volume. </p>
      </div>
</div>     
  <div id="linha3"></div>
  <div id="linha4"></div>
</div>

 

<md-card id="shape_btn"  ng-show="nexteyes" ui-sref="app.lipstype" style="
                                                                      z-index: 2;
                                                                      background-color: #ffffff;
                                                                      border: solid 1.5px #000000;"  >
  <div id=""></div>
  <div id="">
    <p id="Next"  style="color:#fc2561" >NEXT <img src="img/icn-arrow.png">  </p> 
  </div>
</md-card>


<md-card id="shape_btn"   >
  <div id=""></div>
  <div id="">
    <p id="Next">NEXT <img src="img/icn-arrow-desable.png">  </p> 
  </div>
</md-card>
<br>
<br>
<br>
<br>
<br>
<div class="footer" >
p
</div>
<style type="text/css">
#protext{
position: fixed;
        top: 1574px;
    left: 75px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#monotext{
position: fixed;
        top: 1574px;
    left: 420px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_pro{
    position: fixed;
        top: 1622px;
    left: 75px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_mono{
  position: fixed;
        top: 1622px;
    left: 420px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_close{
    position: fixed;
    top: 1180px;
    left: 75px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_deep{
  position: fixed;
    top: 1180px;
    left: 420px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
#uppertext{
position: fixed;
    top: 1135px;
    left: 75px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#lowertext{
position: fixed;
    top: 1135px;
    left: 420px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_skin_oily {
        position: relative;
    left: 78px;
    top: 314px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_skin_combination {
          position: relative;
    left: 150px;
    top: 314px;
    z-index: 1;

  width: 264px;
  height: 240px;
  object-fit: contain;
}
.footer{
  position: absolute;
      top: 2276px;
  height: 24px;
  color: white;
}
#Combination {
     position: relative;
    left: 368px;
    top: -37px;
  height: 24px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#Oily {
    margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
      #traco3{
    position: absolute;
    left: 75px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco4{
    position: absolute;
    left: 420px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
    background-color: #000000;
      
   
   }
#shape_btn {
  position: absolute;
    top: 2076px;
    left: 240px;
    
    z-index: 1;
  width: 312px;
  height: 97px;
  background-color: #ffffff;
  border: solid 1.5px #999999;
}
  #Next {
       margin-top: 32px;
    margin-left: 65px;
  height: 23px;
  
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
}
</style>

    </ion-content>

</ion-view>
