<ion-view view-title="SkinType">
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          "  ui-sref="app.skinshape"  >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/00_banner-eyes-type@3x.png');">

        </div>
        
<style type="text/css">
  ion-header-bar{
   
    height: 100px !important;

  }

   #cinza{
    position: absolute;;
    left: 48px;
    top: 168px;
    width: 264px;
    height: 96px;
    z-index: 1;

    background-color: #f6f6f6;
   
   }

      #pink{
    position: absolute;;
        left: 215px;
    top: 168px;
    width: 101px;
    height: 100px;
    z-index: 1;
      background-color: #fc2561;
      border: solid 4px #fc2561;
   
   }
   div.margem {
    background: #900;
    color: #FFF;
}
.img_skin_normal {
      position: relative;
    left: 78px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;

}
#shape_gray {
    position: absolute;;
    /*left: 215px;*/
    top: 330px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
#shape_gray2 {
    position: absolute;;
    /*left: 215px;*/
    top: 722px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
.hero{
  height: 240px;

    margin-top: 50px;
   
    border: solid 4px #000000;
}
.img_banner_Skin {
  width: 768px;
  height: 240px;
  object-fit: contain;
}
.face-shape {
 /* width: 159px;*/
    margin-top: 32px;
    margin-left: 26px;
  height: 28px;
  font-family: NeueHelveticaBQ;
   font-size: 29px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#shape_black {
  position: absolute;
    /*left: 215px;*/
    top: 660px;
    z-index: 1;
  width: 672px;
  height: 167.5px;
  background-color: #000000;
  background-color: var(--black);
}
   #black{
    position: absolute;
    left: 48px;
    top: 522px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
      #black2{
    position: absolute;
    left: 48px;
    top: 896px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
   #Normal {
 /* width: 109.5px; */
     margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_skin_dry {
        position: relative;
        left: 150px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
#dry {
    position: relative;
    left: 68px;
    top: -50px;
  
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  color: var(--black);
}
      #traco1{
    position: absolute;
    left: 75px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco2{
    position: absolute;
    left: 420px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
   #linha{
        position: absolute;
    left: 380px;
    top: 328px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha2{
        position: absolute;
    left: 380px;
    top: 722px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
</style>

<div>
  <div id="pink"></div>
  <div id="cinza">
    <p class="face-shape">EYES TYPE</p> 
  </div>
</div>


<div class="">
    
  <div id="shape_gray" >
    <p id="Normal"> UPTURNED  </p>
    <p id="dry" > HOODED </p>
  </div> 
  <div id="traco1"></div>
  
  <div id="traco2"></div>
  <div id="black" ></div>
  <img src="img/01_eye-upturned@3x.png" class="img_skin_normal">
  
  <img src="img/02-eyes-hooded@3x.png" class="img_skin_dry">
<div id="linha"></div>
</div>


<div class="">
    
  <div id="shape_gray2" >
    <p id="Oily">DOWNTURNED  </p>
    <p id="Combination" > WIDE SET </p>
  </div> 
  <div id="traco3"></div>
  <div id="traco4"></div>
  <div id="black2" ></div>

  <img src="img/03_eye-downturned@3x.png" class="img_skin_oily">
  <img src="img/04_eyes-wide-set@3x.png" class="img_skin_combination">
  <div id="linha2"></div>
</div>
<!--
<p id="">CLOSE SET </p>
<img src="img/05_eye-close-set@3x.png" class="img_skin_oily">
<p id="" > DEEP SET</p>
<img src="img/06_eye-deep-set@3x.png" class="img_skin_oily">
<p id="">PROTUDING </p>
<img src="img/07_eyes-protuding@3x.png" class="img_skin_oily">
<p id="" > MONOLID </p>
<img src="img/08_eye-monolid@3x.png" class="img_skin_oily">



<div class="">
    
  <div id="shape_gray2" >
    <p id="">OILY  </p>
    <p id="" > COMBINATION </p>
  </div> 
  <div id="black2" ></div>
  <img src="img/img-skin-oily.png" class="img_skin_oily">
  
  <img src="img/img-skin-combination.png" class="img_skin_combination">

</div>



-->
 <style type="text/css">
  #shape_gray3 {
    position: fixed;
    left: 48px;
    top: 1248px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
  #shape_gray3 {
    position: fixed;
    left: 48px;
    top: 1440px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
      #black4{
     position: fixed;
    left: 48px;
    top: 1700px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
         #black4{
     position: fixed;
    left: 48px;
    top: 1700px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
</style>


<div>
  <div id="shape_gray3"   ></div>
  <div id="black3"></div>
</div>


<div>
  <div id="shape_gray4"   ></div>
  <div id="black4"></div>
</div>


<div id="shape_btn" ui-sref="app.lipstype"  >
  <div id=""></div>
  <div id="">
    <p id="Next">NEXT <img src="img/icn-arrow-desable.png">  </p> 
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="footer" >

</div>
<style type="text/css">
.img_skin_oily {
        position: relative;
    left: 78px;
    top: 314px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_skin_combination {
          position: relative;
    left: 150px;
    top: 314px;
    z-index: 1;

  width: 264px;
  height: 240px;
  object-fit: contain;
}
.footer{

}
#Combination {
     position: relative;
    left: 368px;
    top: -50px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#Oily {
    margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
      #traco3{
    position: absolute;
    left: 75px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco4{
    position: absolute;
    left: 420px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
    background-color: #000000;
      
   
   }
#shape_btn {
  position: absolute;
    top: 2076px;
    left: 240px;
    
    z-index: 1;
  width: 312px;
  height: 97px;
  background-color: #ffffff;
  border: solid 1.5px #999999;
}
  #Next {
       margin-top: 32px;
    margin-left: 65px;
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
}
</style>

    </ion-content>

</ion-view>
