<ion-view view-title="SkinType">
        <ion-nav-title>
        <img src="img/icn-arrow-back.png"
        style="    position: fixed;
                  top: 40px;
                  left: 49px;
          "  ui-sref="app.eyestype"  >
            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero " style="background-image: url('img/00_banner-eyes-type@3x.png');">

        </div>
        
<style type="text/css">
  ion-header-bar{
   
    height: 100px !important;

  }

   #cinza{
    position: absolute;;
    left: 48px;
    top: 168px;
    width: 264px;
    height: 96px;
    z-index: 1;

    background-color: #f6f6f6;
   
   }

      #pink{
    position: absolute;;
        left: 215px;
    top: 168px;
    width: 101px;
    height: 100px;
    z-index: 1;
      background-color: #fc2561;
      border: solid 4px #fc2561;
   
   }
   div.margem {
    background: #900;
    color: #FFF;
}

#shape_gray {
    position: absolute;;
    /*left: 215px;*/
    top: 330px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
#shape_gray2 {
    position: absolute;;
    /*left: 215px;*/
    top: 722px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
.hero{
  height: 240px;

    margin-top: 50px;
   
    border: solid 4px #000000;
    z-index: -1;
}
.img_banner_Skin {
  width: 768px;
  height: 240px;
  object-fit: contain;
}
.face-shape {
 /* width: 159px;*/
    margin-top: 32px;
    margin-left: 26px;
  height: 28px;
  font-family: NeueHelveticaBQ;
   font-size: 29px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#shape_black {
  position: absolute;
    /*left: 215px;*/
    top: 660px;
    z-index: 1;
  width: 672px;
  height: 167.5px;
  background-color: #000000;
  background-color: var(--black);
}
   #black{
    position: absolute;
    left: 48px;
    top: 522px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
      #black2{
    position: absolute;
    left: 48px;
    top: 912px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
   #Normal {
 /* width: 109.5px; */
     margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}

#dry {
    position: relative;
    left: 68px;
    top: -50px;
  
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  color: var(--black);
}
      #traco1{
    position: absolute;
    left: 75px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco2{
    position: absolute;
    left: 420px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
   #linha{
        position: absolute;
    left: 380px;
    top: 328px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha2{
        position: absolute;
    left: 380px;
    top: 722px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
</style>

<md-card>
  <div id="pink"></div>
  <div id="cinza">
    <p class="face-shape">LIPS TYPE</p> 
  </div>
</md-card>

<style type="text/css">
  .myDiv{
    width:400px;
    height:200px;
    background-color:red;
   -webkit-transition: 1s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 1s linear;
   -o-transition: 1s linear;
   transition: 1s linear;
   opacity: 1;
}



  .traco1pink{
    position: absolute;
    left: 75px;
    top: 328px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }

.img_skin_normal {
      position: fixed;
    left: 84px;
    top: 404px;
    z-index: 1;

  width: 264px;
  height: 240px;
  object-fit: contain;

}
.img_skin_normal2 {
      position: relative;
    left: 78px;
    top: 164px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;

}
.img_skin_dry {
        position: fixed;
        left: 420px;
    top: 404px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_skin_oily {
        position: fixed;
    left: 78px;
    top: 804px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_skin_combination {
          position: fixed;
    left: 420px;
    top: 804px;
    z-index: 1;

  width: 264px;
  height: 240px;
  object-fit: contain;
}
.foo{
     border: solid 1.5px #fc2561;
     opacity: 0.3;
}
.foo2{
     border: solid 1.5px black;
     box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
     transform:scale(1.05);
}

   #boxpink1{
    position: absolute;
    left: 48px;
    top: 522px;

    z-index: 1;
      width: 336px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink2{
    position: absolute;
    left: 380px;
    top: 522px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink3{
    position: absolute;
    left: 48px;
    top: 912px;

    z-index: 1;
      width: 336px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink4{
    position: absolute;
    left: 380px;
    top: 912px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
      #boxpink5{
    position: absolute;
    left: 48px;
    top: 1302px;

    z-index: 1;
      width: 336px;
      height: 167.5px;
      background-color: #fc2561;

   
   }
   #boxpink6{
    position: absolute;
    left: 380px;
    top: 1302px;

    z-index: 1;
      width: 340px;
      height: 167.5px;
      background-color: #fc2561;
      
   
   }
</style>


<div class="">
    
  <div id="shape_gray" >
    <p id="Normal"> SMALL  </p>
    <p id="dry" > FULL </p>
  </div> 
  <div id="traco1" ng-show="small" style="background-color: #fc2561 ;z-index: 2;" ></div>
  <div id="traco1" ></div>

  <div id="traco2" ng-show="full" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco2"></div>
  <div id="black"></div>
  <div id="boxpink1" ng-show="small"  ></div>
  <div id="boxpink2" ng-show="full"  ></div>
  <div class="">
  <img src="img/01_lips-mouth-small@3x.png" 
       class="img_skin_normal tile " 
       ng-click='clicklips("SMALL")' >
       

  </div>

  <img src="img/04_lips-mouth-full@3x.png" 
       class="img_skin_dry tile "
       ng-click='clicklips("FULL")' 
        >
       
<div id="linha"></div>
</div>


<div class="">
    
  <div id="shape_gray2" >
    <p id="Oily">WIDE  </p>
    <p id="Combination" > THIN </p>
  </div> 
  <div id="traco3" ng-show="wide" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco3"></div>
  <div id="traco4" ng-show="thin" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco4"></div>
  <div id="black2" ></div>
  <div id="boxpink3" ng-show="wide"  ></div>
  <div id="boxpink4" ng-show="thin"  ></div>

  <img src="img/03_lips-mouth-wide@3x.png" 
       class="img_skin_oily tile "
       ng-click='clicklips("WIDE")'
       >
  <img src="img/02_lips-mouth-thin@3x.png" 
       class="img_skin_combination tile "
       ng-click='clicklips("THIN")'>
  <div id="linha2"></div>
</div>


<!--



<div class="">
    
  <div id="shape_gray2" >
    <p id="">OILY  </p>
    <p id="" > COMBINATION </p>
  </div> 
  <div id="black2" ></div>
  <img src="img/img-skin-oily.png" class="img_skin_oily">
  
  <img src="img/img-skin-combination.png" class="img_skin_combination">

</div>
-->
<div>
  <div id="shape_gray4"   ></div>
  <div id="black3"></div>

</div>


<div>
  <div id="shape_gray4"   ></div>
  <div id="traco5"></div>
  <div id="traco5" ng-show="lower" style="background-color: #fc2561 ;z-index: 2;"  ></div>
  <div id="traco6"></div>
  <div id="traco6" ng-show="upper" style="background-color: #fc2561 ;z-index: 2;"   ></div>

<div id="boxpink5" ng-show="upper"  ></div>
<div id="boxpink6" ng-show="lower"  ></div> 

<p id="uppertext">HEAVY UPPER </p>
<img src="img/05_lips-mouth-heavy-upper@3x.png" 
     class="img_upper tile "
     ng-click='clicklips("HEAVY UPPER")'>
<p id="lowertext" > HEAVY LOWER</p>
<img src="img/06_lips-mouth-heavy-lower@3x.png" 
     class="img_lower tile "
     ng-click='clicklips("HEAVY LOWER")'>

<div id="linha3"></div>
 
</div>

<style type="text/css">
#uppertext{
position: fixed;
    top: 1135px;
    left: 75px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#lowertext{
position: fixed;
    top: 1135px;
    left: 420px;
    z-index: 1;
  /*width: 176.5px;*/
  height: 23.5px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
.img_upper{
    position: fixed;
    top: 1180px;
    left: 75px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
.img_lower{
  position: fixed;
    top: 1180px;
    left: 420px;
    z-index: 1;
  width: 264px;
  height: 240px;
  object-fit: contain;
}
  #shape_gray3 {
    position: fixed;
    left: 0px;
    top: 1548px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
  #shape_gray4 {
    position: fixed;
    left: 0;
    top: 1110px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
    #black3{
     position: fixed;
    left: 48px;
    top: 1302px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   }
         #black4{
     position: fixed;
    left: 48px;
    top: 1738px;
    width: 173px;
    height: 96px;
    z-index: 1;
      width: 672px;
      height: 167.5px;
      background-color: #000000;
      
   
   }
    #traco6{
    position: absolute;
    left: 75px;
    top: 1110px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
    #traco5{
    position: absolute;
    left: 420px;
    top: 1110px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
       #traco7{
    position: absolute;
    left: 75px;
    top: 1547px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
    #traco8{
    position: absolute;
    left: 420px;
    top: 1547px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
   }
      #linha3{
        position: absolute;
    left: 380px;
    top: 1110px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
      #linha4{
        position: absolute;
    left: 380px;
    top: 1547px;
    width: 2px;
    height: 360px;
    z-index: 1;
      background-color: #999999;
   }
   .shape_btnatived {
  width: 312px;
  height: 97px;
  background-color: #fc2561;
  border: solid 1.5px #fc2561;
  
</style>



<md-card id="shape_btn" ng-show="nextlips" ng-click="salvar()"  ui-sref="app.result" style="
                                                                      z-index: 2;
                                                                      background-color: #ffffff;
                                                                      border: solid 1.5px #000000;"  >
  <div id=""></div>
  <div id="">
    <p id="Next" style="color:#fc2561" >NEXT <img src="img/icn-arrow.png">  </p> 
  </div>
</md-card>
<md-card id="shape_btn" ui-sref="app.result"  ng-click="salvar()"   >
  <div id=""></div>
  <div id="">
    <p id="Next">NEXT <img src="img/icn-arrow-desable.png">  </p> 
  </div>
</md-card>
<br>
<br>
<br>
<br>
<br>
<div class="footer" >
 p
</div>
<style type="text/css">


.footer{
  position: absolute;
  top: 1717px;
  height: 24px;
  color: white;
}
#Combination {
     position: relative;
    left: 368px;
    top: -50px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
#Oily {
    margin-top: 32px;
    margin-left: 26px;
  height: 24px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  color: var(--black);
}
      #traco3{
    position: absolute;
    left: 75px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
      background-color: #000000;
      
   
   }
    #traco4{
    position: absolute;
    left: 420px;
    top: 720px;
    width: 60px;
    height: 2px;
    z-index: 1;
    background-color: #000000;
      
   
   }
#shape_btn {
  position: absolute;
    left: 240px;
    top: 1517px;
    z-index: 1;
  width: 312px;
  height: 97px;
  background-color: #ffffff;
  border: solid 1.5px #999999;
}
  #Next {
       margin-top: 32px;
    margin-left: 65px;
  height: 23px;
  font-family: NeueHelveticaBQ;
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
}
</style>

    </ion-content>

</ion-view>
