<ion-view view-title="Result">
        <ion-nav-title>

            <img src="img/logo-maybelinne.png" style="
            position: fixed;
              top: 32.5px;
              left: 232px;
              width: 304px;
              height: 31px;
    
"  >
        </ion-nav-title>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="space">
            
        </div>


<div class="row space">

</div>

<style type="text/css">
  ion-header-bar{
   
    height: 100px !important;

  }

    .space{
        height: 96px;
    }
    .line_title {
      width: 101px;
      height: 96px;
      background-color: #fc2561;
      border: solid 4px #fc2561;
    }
    .tabresult{
      height: 96px;
      background-color: black;
      border: solid 4px black;
    }


    #gray {
    position: absolute;;
    /*left: 215px;*/
    top: 322px;
    z-index: 1;
  margin-left: 48px;
  width: 672px;
  height: 192.5px;
  background-color: #f6f6f6;
}
    #black {
    position: absolute;;
    /*left: 215px;*/
    top: 122px;
    z-index: 1;
  margin-left: 48px;
  width: 172px;
  height: 192.5px;
  background-color: #f6f6f6;
}
</style>











        <div class="row">
        <div class="col col-25"  > 
        </div>
        <div class="col col-50"  >
        <div>

        <div>
            <ul>
                <li>
                    <md-card ui-sref="app.home" ng-click="novoCadastro()" class="card  cardboxblackslim box_shape  ">
                     <h2 class="START-NOW"  > New research </h2>
                     
                     <img   src="img/icn-arrow.png"
                            class="icn_arrow" style="
                            box-shadow: none;
                        "  >
                    
                    </md-card>
<!--
                    <button ng-click="salvar()"  > salvar</button>
                    <button ng-click="novoCadastro()"  > novo</button>
                   
          <pre>{{cliente | json}}</pre>
          <pre>{{user | json}}</pre>
           -->


           <div >
  <div id="#gray"></div>
  <div id="#black" ></div>
</div>
                </li>
            </ul>
        </div>
        </div>
        </div>
        </div>

    </ion-content>
</ion-view>
